body{
    background:url("https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
i.icon{
    font-size: 2em;
}
.main.container{
    margin-top:7em;
}
#home{
    margin-top: 100px;
    text-align: center;
    color:floralwhite;
    font-size: 50px;
    line-height: 70px;
}
.created{
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
